
<%=link_to "Kayıt ol", "/kayitol"%>
|
<%=link_to "Oturum aç", "/girisyap"%>
|
<%=link_to "Yeni Yazı", "/yazi/new"%>

<% @yazilar.each do |yazi|%>
	<h2> <%=yazi.title%></h2>
	<p> <%=yazi.content%></p> <%=link_to "Read more", yazi_path(yazi)%><br>
	<%=link_to "Edit", edit_yazi_path(yazi)%>
	<span><%=yazi.created_at%></span> 
	<hr>
<%end%>


